# Step 5 - 测试执行

现在，我们在左侧输入例程，右侧会实时显示运行结果：

<img src="/01/104-result.png" class="m-0 h-100 rounded shadow">
